<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.areacalculatorapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/a"
        android:label="@string/app_name"
        android:roundIcon="@drawable/a"
        android:supportsRtl="true"
        android:theme="@style/Theme.AREACALCULATORAPP">
        <activity
            android:name=".AREA_OF_SQUARE"
            android:exported="false" />
        <activity
            android:name=".AREA_OF_TRIANGLE"
            android:exported="false" />
        <activity
            android:name=".AREA_OF_CIRCLE"
            android:exported="false" />
        <activity
            android:name=".AREA_OF_RECTANGLE"
            android:exported="false" />
         <activity
            android:name=".splashscreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>